{{> navbar}}
<div class="container pt-5">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <div class="card no-radius ">
                <div class="card-header font-weight-bold font-pos-16 text-capitalize bg-primary text-white" style="font-family:Pacifico;">
                    create a new product
                </div>
                <form action="/product/create?_csrf={{csrfToken}}" method="POST" enctype="multipart/form-data" >
                    <div class="card-body">
                        {{#if product_error}}
                        <div class="alert alert-danger">
                            {{#each product_error}}
                                <div>{{this}}</div>
                            {{/each}}
                        </div>
                        {{/if}}
                        <div class="row justify-content-between">
                            <div class="form-group col-sm-6">
                                <label for="product-name">Product Name</label>
                                <input type="text" class="form-control" id="product-name" name="product_name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="product-price">Price</label>
                                <input type="number" class="form-control" id="product-price" name="product_price">
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="form-group col-sm-6">
                                <label for="customFile"> Product Image </label>
                                <div class="custom-file">
                                    <input type="file" name="product_image" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" > 
                                <label for="gender">Category</label>
                                <select id="gender" name="product_category" class="form-control" required>
                                    {{#each product_category}}
                                        <option value="{{this._id}}">{{this.category_title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="form-group col-sm-6">
                                <label for="number-of-item">Number Of Item</label>
                                <input class="form-control" type="number" name="number_of_item" id="number-of-item">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="product-short-description">Short Description</label>
                                <input class="form-control" id="product-short-description" name="product_short_description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-description">Description {{csrfToken}}</label>
                            <textarea class="form-control" id="product-description" name="product_description"></textarea>
                        </div>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
